/* @import url(https://fonts.google.com/specimen/Sora?query=Jonathan+Barnbrook); */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
/* @import url(https://fonts.google.com/specimen/Playfair+Display?query=play); */
*{box-sizing: border-box; align-items: center; margin: 0; padding: 0;}
html{scroll-behavior: smooth;}
body{line-height: 1px; background-color: black; color: white; font-family:  'Sora',sans-serif; overflow-x: hidden; }
img{ max-width: 100%; width: auto; height: auto;}

/* typography */
h1, h2, h3, h4, h5{
    margin-top: 0px;
    margin-bottom: 8px;
}


/* border-radius */
.border-circle{border-radius: 50%;}

/* width */
.width-10{ width: 10%;}
.width-20{width: 20%;}
.width-25{ width: 25%;}



/* bg-color */
.bg-green-yellow{ background-color: greenyellow;}
.text-grelow{color: greenyellow;}
.bg-secondary-25{background-color: #201f1fb9;}

/* letter spacing */
.ls-2{letter-spacing: 2px;}

/* Display */
/* D 1 */
.display-1{font-size: 32px;line-height: 32px; font-weight: 800;}
@media (min-width: 375px) {.display-1{font-size: 38px; line-height: 38px;}}
@media (min-width: 576px) {.display-1{font-size: 58px; line-height: 58px;}}
@media (min-width: 768px) {.display-1{font-size: 77px; line-height: 77px;}}
@media (min-width: 992px) {.display-1{font-size: 99.2px; line-height: 99.2px;}}
@media (min-width: 1024px){.display-1{font-size: 102px; line-height: 102px;}}
@media (min-width: 1240px){.display-1{font-size: 124px; line-height: 124px;}}
@media (min-width: 1440px){.display-1{font-size: 144px; line-height: 144px;}} 
@media (min-width: 2560px){.display-1{font-size: 192px; line-height: 192px;}}
/* D 2 */
.display-2{font-size: 40px;line-height: 1.3; font-weight: 600;}
@media (min-width: 768px) {.display-2{font-size: 60px;}}
@media (min-width: 992px) {.display-2{font-size: 80px;}}
/* H 1 */
.h1{font-size: 45px; line-height: 59px; font-weight: 600;}
@media (min-width: 768px){.h1{font-size: 60px; line-height: 78px;}}
/* H 2 */
.h2{font-size: 35px; line-height: 46px; font-weight: 600;}
@media (min-width: 1024px){.h2{font-size: 50px; line-height: 65px;}}
/* H 3 */
.h3{font-size: 28px; line-height: 36px; font-weight: 600;}
@media (min-width: 992px) {.h3{font-size: 35px; line-height: 46px;}}
@media (min-width: 1024px){.h3{font-size: 45px; line-height: 59px;}}
/* H 4 */
.h4{font-size: 30px; line-height: 45px; font-weight: 600;}
/* H 5 */
.h5{font-size: 18px; line-height: 32px; font-weight: 500;}
/* H 6 */
.h6{font-size: 14px; line-height: 25px; font-weight: 300;}
/* P */
p{font-size: 16px; line-height: 29px; font-weight: 300;}


.logo{width: 100px;}
.required{ left: 7%;}
.serch-iteam{height: 70px;}
.explore-more img{width: 100%; height: 100vh;}
.digital-design{ top: 20%; left: 10%;}
.stroke{ color: transparent; -webkit-text-stroke: 0.7px rgb(239, 240, 255);}
.skew{transform: skewy(6deg);}
.point-repeat{background-image: url(https://ui-themez.smartinnovates.net/items/geekfolio/dark/assets/imgs/patterns/dots2.png); width: 10%; height: 10%; background-repeat: repeat; position: absolute; bottom: -5%; left: 55%;}
.sub-section{background-image: url(https://ui-themez.smartinnovates.net/items/geekfolio/dark/assets/imgs/background/13.jpg); width: 100%; height: 100vh; opacity: 0.8; background-size: cover; background-attachment: fixed; background-position: center;}
.super-form{border: 1px solid rgba(255, 255, 255, 0.4); border-radius: 10px; padding: 13px;} 
.section-six .sub-image{ left: -29%; top: 26%;}
.print-green{ position: absolute; border-left: 10px solid greenyellow; left: 4%; height: 30%; top: 6%; border-radius: 5px;}
.img-five {position: absolute;bottom: 10%;right: 6%;z-index: -1; width: 30%; height: 30%;background-image: url(https://ui-themez.smartinnovates.net/items/geekfolio/dark/assets/imgs/patterns/dots2.png); background-color: black; background-repeat: repeat;content: '';}
.accordion-item{ border-bottom: 2px solid white; visibility: visible;}
.date{font-size: 13px; font-weight: 300; letter-spacing: 2px; line-height: 19.5px;} 
.iteam-join{border: 1px solid rgba(255, 255, 255, 0.2); padding: 50% 40px; height: calc(100% - 80px);}
.f-12{font-size: 12px;}
.background-1 > img {inset: 0;object-fit: cover;object-position: top center;opacity: 0;}
.background-1:hover > img {inset: 0;object-fit: cover;object-position: bottom center;opacity: 1;transition: object-position 10s; display: inline-block;}


